.post-list {
  padding: 0 16px;
}

.post-list-item {
  width: 100%;
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $border;
  cursor: pointer;

  .post-image {
    order: 2;
    flex-shrink: 0;
    margin-left: 16px;
    width: 80px;
    height: 80px;
    background-color: $green-light;
    overflow: hidden;
    pointer-events: none;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  .post-info {
    order: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;

    h2 {
      width: 100%;
      margin-bottom: 8px;
      color: $primary;
      @include text-style(16);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
    }

    p {
      width: 100%;
      margin-bottom: 12px;
      color: $text;
      @include text-style(13);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    time {
      @include text-style(11);
      color: $text;
    }
  }
}

.post-list-item {
  @media screen and (min-width: 480px) {
    .post-image {
      width: 120px;
      height: 120px;
    }

    .post-info {
      h2 {
        @include text-style(21);
      }

      p {
        margin-bottom: 36px;
        @include text-style(16);
      }

      time {
        @include text-style(13);
      }
    }
  }
}
