* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

html {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  font-size: 16px;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  color: $primary;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
