body {
  background-color: $green-light;
}

#root {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  background-color: $white;
}

.main-header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%);
  height: 52 + 55 + 16px;
  background-color: $white;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $green;
    margin-bottom: 16px;
    padding: 8px 16px;
  }

  h1 {
    color: $white;
    @include text-style(24);
    font-weight: 700;
  }

  &-notice {
    width: 100%;
    padding: 0 16px;
  }

  p {
    padding: 16px 0;
    border-radius: 14px;
    border: 1px solid $border;
    background-color: $white;
    text-align: center;
    @include text-style(16);
    box-shadow: 0px 0px 8px rgba(30, 38, 35, 0.05);
  }
}

.main-content {
  margin-top: 123px;
  padding: 16px 0;
  overflow: scroll;
  height: calc(100vh - 123px);
}

.main-content.otherpage {
  padding: 24px 16px 0;
}

.main-footer {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.fab-button {
  padding: 20px;
  border-radius: 20px;
  background-color: $green;
  @include text-style(16);
}
