body {
  background-color: $green-light;
}

#root {
  position: relative;
  margin: 0 auto;
  max-width: 600px;

  background-color: $white;
}

.main-header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%);
  height: 52 + 55 + 16px;
  background-color: $white;

  h1 {
    width: 100%;
    text-align: end;
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: $green;
    color: $white;
    @include text-style(24);
    font-weight: 700;
  }

  &-notice {
    width: 100%;
    padding: 0 16px;
  }

  p {
    padding: 16px 0;
    border-radius: 14px;
    border: 1px solid $border;
    background-color: $white;
    text-align: center;
    @include text-style(16);
    box-shadow: 0px 0px 8px rgba(30, 38, 35, 0.05);
  }
}

.main-content {
  margin-top: 123px;
  padding: 16px 0;
  overflow: auto;
  height: calc(100vh - 123px);
}

.main-footer {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.fab-button {
  padding: 20px;
  border-radius: 20px;
  @include text-style(16);
}

.post-list {
  padding: 0 16px;
}

.post-list-item {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $border;

  .post-image {
    flex-shrink: 0;
    margin-right: 16px;
    width: 120px;
    height: 120px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }

  .post-info {
    flex: 1;

    h2 {
      margin-bottom: 12px;
      color: $primary;
      @include text-style(19);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      color: $text;
      @include text-style(16);
      line-height: 24px;
    }
  }
}
