$primary: #2f3e39;
$secondary: #ababab;
$tertiary: #d9d9d9;

$background: #f8f8f8;
$text: #797979;
$tab: #c9c9c9;
$white: #fff;

// 무채색 계열의 용도 : text, background, border
// 가장 많이 사용하는 color 는 primary

$blue: #467ff7;
$blue-light: #edf2fe;

$green: #00d4aa;
$green-light: #e6fbf7;

// 노랑색
$yellow: #fcb707;
