$font-size-11: 11px;
$line-height-11: 13.77px;
$letter-spacing-11: -0.005em;

$font-size-13: 13px;
$line-height-13: 16.28px;
$letter-spacing-13: -0.01em;

$font-size-14: 14px;
$line-height-14: 22px;
$letter-spacing-14: -0.01em;

$font-size-15: 15px;
$line-height-15: 24px;
$letter-spacing-15: -0.01em;

$font-size-16: 16px;
$line-height-16: 20.03px;
$letter-spacing-16: -0.01em;

$font-size-17: 17px;
$line-height-17: 22px;
$letter-spacing-17: -0.75px;

$font-size-19: 19px;
$line-height-19: 32px;
$letter-spacing-19: -0.75px;

$font-size-21: 21px;
$line-height-21: 32px;
$letter-spacing-21: -0.75px;

$font-size-24: 24px;
$line-height-24: 36px;
$letter-spacing-24: -0.75px;

$font-size-27: 27px;
$line-height-27: 33.8px;
$letter-spacing-27: -0.75px;

$font-size-29: 29px;
$line-height-29: 44px;
$letter-spacing-29: -0.75px;

$font-size-32: 32px;
$line-height-32: 44px;
$letter-spacing-32: -0.75px;

$font-size-36: 36px;
$line-height-36: 54px;
$letter-spacing-36: -0.75px;

$font-size-40: 40px;
$line-height-40: 60px;
$letter-spacing-40: -0.75px;

$font-size-48: 48px;
$line-height-48: 72px;
$letter-spacing-48: -0.75px;
