// 최상위 변수들
@import './constants/color';
@import './constants/typography';

// 초기화 하는 css들
@import './base/normalize';
@import './base/reset';
@import './base/global';
@import './base/fonts';

@import './mixin/text-style';

// 기본 레이아웃
@import './layouts/body';
@import './layouts/detailpage';
@import './layouts/404page';

// 요소들
@import './components/element';
@import './components/post';
